.row
  %h2.text-center
    = t('devise.confirmations.title')
  .col-xs-10
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form' }) do |f|
      .text-center= devise_error_messages!
      .col-sm-8.col-sm-offset-3
        .form-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'form-control', autofocus: true, required: true,
              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .form-group
          .mart-5
            = f.submit t('devise.confirmations.submit'), class: 'btn btn-success'
            .mart-5
              = render 'devise/shared/links'
