.row
  %h2.text-center
    = t 'devise.registrations.edit'
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f|
    .text-center
      = devise_error_messages!
    = f.hidden_field :reset_password_token
    .col-xs-12
      .col-sm-8.col-sm-offset-2
        - if current_user.avatar.url.present?
          .text-center
            = image_tag current_user.avatar
            .form-group
              = f.label :remove_avatar, class: 'control-label'
              = f.check_box :remove_avatar
        .form-group
          = f.label :avatar, class: 'control-label'
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
        %hr
        .form-group
          = f.label :first_name, class: 'control-label'
          = f.text_field :first_name, class: 'form-control'
        .form-group
          = f.label :last_name, class: 'control-label'
          = f.text_field :last_name, class: 'form-control'
        .form-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, autofocus: true, class: 'form-control'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              = t 'devise.registrations.not_accepted', email: resource.unconfirmed_email
        .form-group
          = f.label :password, class: 'control-label'
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
          %i
            = t 'devise.registrations.free_pass'
        .form-group
          = f.label :password_confirmation, class: 'control-label'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
        .form-group
          = f.label :phone, class: 'control-label'
          = f.telephone_field :phone, autofocus: true, class: 'form-control telephone-field', placeholder: '099-999-99-99'
        .form-group
          = f.label :locale, class: 'control-label'
          = f.select :locale, available_languages, {}, class: 'form-control'
        .form-group
          = f.label :current_password, class: 'control-label'
          = f.password_field :current_password, autocomplete: 'off', class: 'form-control', required: true
          %i
            = t 'devise.registrations.need_pass'
        .form-group
          .mart-5.text-center
            = f.submit t('update_info'), class: 'btn btn-success'
            = link_to t('devise.registrations.del_acc'), registration_path(resource_name),
              data: { confirm: t('are_you_sure') }, method: :delete, class: 'btn btn-danger'
            .mart-5
              = render 'devise/shared/links'
