.row
  .col-xs-12
    .page-header
      %h1
        = t('shared.types')
      - if can? :create, Types
        %button.btn.btn-primary.btn-lg.js-modal-form-btn{ type: 'button', data: { url: admin_types_path,
                                                          action: 'new', title: t('admin.types.new') } }
          %span.glyphicon.glyphicon-plus
          = t('create')
.row
  .col-xs-12
    %table.table.table-bordered
      %thead
        %tr
          %th.col-xs-1
            .text-center.title-id
              Id
            .pull-right.up
              = sortable_link('id', 'asc')
            .pull-right.down
              = sortable_link('id', 'desc')
          %th.col-sm-3
            .text-center.action
              = Type.human_attribute_name(:name)
          %th.col-sm-3
            .text-center.action
              Translations
          %th.col-sm-3
            .pull-left.title
              = Type.human_attribute_name(:code)
            .pull-right.up
              = sortable_link('code', 'asc')
            .pull-right.down
              = sortable_link('code', 'desc')
          - if can? [:update, :delete], Types
            %th.col-sm-3.col-xs-1
              .text-center.action
                = t('actions')
      %tbody
        - @types.each do |type|
          %tr
            %th.text-right
              = type.id
            %td.text-left
              = type.name
            %td.text-center
              - type.translations.each do |item|
                = link_to item.locale, '#', class: 'locale_switch label label-success', data: { locale: item,
                                            toggle: 'tooltip', placement: 'bottom', title: 'Tooltip on top' }

              -#-if type.translations.present?
              -#  = link_to available_languages[0][1], '#' , class: 'locale_switch label label-success', data: {locale: 'ru'}
              -#  |
              -#  = link_to available_languages[1][1], '#' , class: 'locale_switch label label-success', data: {locale: 'uk'}
              -#  |
              -#  = link_to available_languages[2][1], '#' , class: 'locale_switch label label-success', data: {locale: 'en'}

            -#- available_languages.each do |locale|
            -#  = link_to locale[0], '#', data: { locale: locale[1] }, class: "locale_switch #{type.translations.locale.include? locale[1] ? 'label label-primary' : red}"
            -#  |

            %td
              = type.code
            - if can? [:update, :delete], Types
              %td.text-center.actions
                %button.btn.btn-warning.btn-xs.js-modal-form-btn{ data:{ object: type.attributes,
                                                                  url: admin_type_path(type.id), action: 'edit'} }
                  %span.glyphicon.glyphicon-pencil
                  = t('edit')
                = link_to admin_type_path(type.id), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger btn-xs' do
                  %span.glyphicon.glyphicon-trash
                  = t('delete')
.row
  .col-xs-12
    - if (@types.count > 0 && @types.total_pages > 1)
      .text-center
        = paginate @types, theme: 'twitter-bootstrap-3'
- if can? :create || :update, Types
  = render 'modal_form'








