.row
  %h2.text-center Прислать инструкцию по разблокировке аккаунта
  .col-xs-8.col-sm-8.col-md-10
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      .text-center= devise_error_messages!
      .form-group
        .col-sm-8.col-sm-offset-3
          = f.label :email, 'E-mail адрес', class: 'control-label'
          = f.email_field :email, class: 'form-control', autofocus: true, required: true
      .form-group
        .col-sm-8.col-sm-offset-3.mart-5
          = f.submit 'Отправить инструкцию по разблокировке аккаунта на e-mail', class: 'btn btn-success'
          .mart-5
            = render 'devise/shared/links'
