= form_with scope: @user, url: admin_user_path(@user), method: 'patch', local: true, class: 'form-horizontal' do |f|
  = render 'shared/error_messages', target: @user
  .form-group
    .col-sm-8.col-sm-offset-2.mart-5.text-center
      - if @user.avatar.url.present?
        = image_tag @user.avatar
        .form-group
          = f.label :remove_avatar, class: 'control-label'
          = f.check_box :remove_avatar
        %hr
  .form-group
    .col-sm-8.col-sm-offset-2
      = f.label :first_name, class: 'control-label'
      = f.text_field :first_name, class: 'form-control'
  .form-group
    .col-sm-8.col-sm-offset-2
      = f.label :last_name, class: 'control-label'
      = f.text_field :last_name, class: 'form-control'
  .form-group
    .col-sm-8.col-sm-offset-2.mart-5.text-center
      = f.submit t('update_info'), class: 'btn btn-success'
      = render 'admin/users/forms/helper_buttons'