.row
  %h2.text-center
    = t 'devise.passwords.change_your_pass'
  .col-xs-10
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form' }) do |f|
      .text-center= devise_error_messages!
      = f.hidden_field :reset_password_token
      .col-sm-8.col-sm-offset-3
        .form-group
          = f.label :password, class: 'control-label'
          = f.password_field :password, autocomplete: 'off', class: 'form-control', required: true
        .form-group
          = f.label :password_confirmation, class: 'control-label'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', required: true
        .form-group
          .mart-5
            = f.submit t('devise.passwords.change_pass'), class: 'btn btn-success'
            .mart-5
              = render 'devise/shared/links'
