.row
  %h2.text-center Смените ваш пароль
  .col-xs-8.col-sm-8.col-md-10
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .text-center= devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        .col-sm-8.col-sm-offset-3
          = f.label :password, class: 'control-label'
          = f.password_field :password, autocomplete: 'off', class: 'form-control', required: true
      .form-group
        .col-sm-8.col-sm-offset-3
          = f.label :password_confirmation, class: 'control-label'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', required: true
      .form-group
        .col-sm-8.col-sm-offset-3.mart-5
          = f.submit 'Сменить пароль', class: 'btn btn-success'
          .mart-5
            = render 'devise/shared/links'

