-#FIXME: FIX ADDRESS LINKS!
%header
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{type: 'button', aria:{expanded: 'false'}, data:{toggle: 'collapse', target: 'main-menu'}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Главная', root_path, class: 'navbar-brand'
      #main-menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', role: 'button', aria: {haspopup: true, expanded: false}, data: {toggle: 'dropdown'} do
              Категории
              %span.caret
            %ul.dropdown-menu
              - all_categories.each do |category|
                %li
                  = link_to category.name, '#'
          %li
            = link_to 'Агенции', '#'
        %ul.nav.navbar-nav.navbar-right
          - if current_user && current_user.role_name != 'simple_user'
            %li
              = link_to '#', class: 'btn btn-primary' do
                %span.glyphicon.glyphicon-wrench
                Контрольная панель
          - if current_user
            %li
              = link_to '#' do
                %span.glyphicon.glyphicon-user
                = current_user.full_name
            %li
              = link_to destroy_user_session_path do
                %span.glyphicon.glyphicon-log-out
                Выйти
          - else
            %li
              = link_to new_user_session_path do
                %span.glyphicon.glyphicon-log-in
                Войти
            %li
              = link_to new_user_registration_path do
                %span.glyphicon.glyphicon-download-alt
                Регистрация