-#FIXME: FIX ADDRESS LINKS!
%header
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{type: 'button', aria:{expanded: 'false'}, data:{toggle: 'collapse', target: 'main-menu'}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to t('application.header.main'), root_path, class: 'navbar-brand'
      #main-menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', role: 'button', aria: {haspopup: true, expanded: false}, data: {toggle: 'dropdown'} do
              = t('shared.categories')
              %span.caret
            %ul.dropdown-menu
              - all_categories.each do |category|
                %li
                  = link_to category.name, '#'
          %li
            = link_to t('shared.agencies'), '#'
        %ul.nav.navbar-nav.navbar-right
          - if current_user && current_user.role_name != 'simple_user'
            %li
              = link_to '#', class: 'btn btn-primary' do
                %span.glyphicon.glyphicon-wrench
                = t('application.header.control_panel')
          - if current_user
            %li
              = link_to edit_user_registration_path do
                - if current_user.avatar.present?
                  = image_tag current_user.avatar, class: 'header_avatar'
                - else
                  %span.glyphicon.glyphicon-user
                = current_user.full_name
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-log-out
                = t('application.header.sign_out')
          - else
            %li
              = link_to new_user_session_path do
                %span.glyphicon.glyphicon-log-in
                = t('application.header.sign_up_in')