.page-header
  %h1
    = t('shared.categories')
  %button.btn.btn-primary.btn-lg{ data:{target: "#category_createModal", toggle: "modal", whatever: "@mdo", type: "button"} }
    %span.glyphicon.glyphicon-plus
    = t('create')
%table.table.table-bordered
  %thead
    %tr
      %th.text-center.col-sm-1 Id
      %th.text-center
        = Category.human_attribute_name(:name)
      %th.text-center.col-sm-2
        = Category.human_attribute_name(:weight)
      %th.text-center.col-sm-3.col-xs-1
        = t('admin.actions')
  %tbody
    - @categories.each do |category|
      %tr
        %th.text-right
          #{category.id}
        %td
          #{category.name}
        %td
          #{category.weight}
        %td.text-center
          %button.btn.btn-warning.btn-xs.edit_btn{ data:{target: "#category_updateModal", toggle: "modal", whatever: "@mdo", type: "button", name:"#{category.name}", weight:"#{category.weight}", url:admin_category_path(category.id)}}
            %span.glyphicon.glyphicon-pencil
            = t('Обновить')
          = link_to admin_category_path(category.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-xs' do
            %span.glyphicon.glyphicon-trash
            = t('Удалить')
- if (@categories.count > 0 && @categories.total_pages > 1)
  .text-center
    = will_paginate @categories, previous_label:'<', next_label:'>', page_links: true , renderer: BootstrapPagination::Rails, class: 'pagination-xs'
= render 'new_category_form'
= render 'update_category_form'







