.page-header
  %h1 Категории:
  %button.btn.btn-primary.btn-lg{ data:{target: "#category_createModal", toggle: "modal", whatever: "@mdo", type: "button"} }
    %span.glyphicon.glyphicon-plus
    Создать
%table.table.table-bordered
  %thead
    %tr
      %th.text-center.col-sm-1 Id
      %th.text-center Название
      %th.text-center.col-sm-2 Вес
      %th.text-center.col-sm-3.col-xs-1 Действия
  %tbody
    - @categories.each do |category|
      %tr
        %th.text-right
          #{category.id}
        %td
          #{category.name}
        %td
          #{category.weight}
        %td.text-center
          %button.btn.btn-warning.btn-xs.edit_btn{ data:{target: "#category_updateModal", toggle: "modal", whatever: "@mdo", type: "button", name:"#{category.name}", weight:"#{category.weight}", url:admin_category_path(category.id)}}
            %span.glyphicon.glyphicon-pencil
            Править
          = link_to admin_category_path(category.id), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-xs' do
            %span.glyphicon.glyphicon-trash
            Удалить
- if (@categories.size > 9)
  .text-center
    = will_paginate @categories, previous_label:'<', next_label:'>', first_label: '<<', last_label:'>>', page_links: true , renderer: BootstrapPagination::Rails, class: 'pagination-xs'
- else
  .text-center
    = will_paginate @categories, previous_label:'<', next_label:'>', page_links: false , renderer: BootstrapPagination::Rails, class: 'pagination-xs'
= render 'new_category_form'
= render 'update_category_form'







