.page-header
  %h1 Категории:
  %button.btn.btn-primary.btn-lg{"data-target": "#exampleModal", "data-toggle": "modal", "data-whatever": "@mdo", type: "button"} Создать
%table.table.table-bordered
  %thead
    %tr
      %th Id
      %th Название
      %th Вес
      %th Действия
  %tbody
    - @categories.each do |category|
      %tr
        %th
          #{category.id}
        %td
          #{category.name}
        %td
          #{category.weight}
        %td
          = link_to 'Править', admin_category_path(category.id), method: :patch, class: 'btn btn-warning btn-xs'
          |
          = link_to 'Удалить', admin_category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
= will_paginate @categories, renderer: BootstrapPagination::Rails, class: 'pagination-lg'
= render 'modal_category_form'







