.page-header
  %h1 Категории:
  %button.btn.btn-primary.btn-lg{type: "button"} Create
%table.table.table-bordered
  %thead
    %tr
      %th Id
      %th Название
      %th Вес
      %th Действия
  %tbody
    - @categories.each do |category|
      %tr
        %th
          #{category.id}
        %td
          #{category.name}
        %td
          #{category.weight}
        %td
          = link_to 'Edit', edit_admin_category_path(:id), class: 'btn btn-warning btn-xs'
          |
          = link_to 'Destroy', admin_category_destroy_path(:id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
= will_paginate @categories, renderer: BootstrapPagination::Rails, class: 'pagination-lg'


