%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' }
      = t('admin.aside.users')
  %li
    = link_to 'Регионы', admin_regions_path
  %li
    = link_to t('admin.aside.cities'), admin_cities_path
  %li
    = link_to t('admin.aside.districts'), admin_districts_path
  %li
    = link_to 'Категории', admin_categories_path
  %li
    %a{ href: '#' }
      = t('admin.aside.types')