%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' }
      = t('admin.aside.users')
  %li
    = link_to 'Регионы', admin_regions_path
  %li
    %a{ href: '#' }
      = t('admin.aside.cities')
  %li
    %a{ href: '#' }
      = t('admin.aside.districts')
  %li
    %a{ href: '#' }
      = t('admin.aside.categories')
  %li
    %a{ href: '#' }
      = t('admin.aside.types')