%ul.nav.navbar-nav.side-nav
  %li
    %a{ href: '#' }
      = t('admin.aside.users')
  %li
    %a{ href: '#' }
      = t('admin.aside.regions')
  %li
    %a{ href: '#' }
      = t('admin.aside.cities')
  %li
    %a{ href: '#' }
      = t('admin.aside.districts')
  %li
    = link_to 'Категории', admin_categories_path
  %li
    %a{ href: '#' }
      = t('admin.aside.types')