.row
  .page-header
    %h1
      = t('admin.districts.title')
  - if can? :create, District
    .col-xs-12
      %button.btn.btn-primary.btn-lg.js-modal-form-btn{ type: 'button', data: { url: admin_districts_path,
                                                        action: 'new', title: t('admin.districts.new') } }
        %span.glyphicon.glyphicon-plus
        = t('create')
      %button.btn.btn-primary.btn-lg{ data: { toggle: 'modal', target: '#importModal' } }
        = t('shared.import_title')
      %hr
.row
  .col-xs-12
    .btn-group
      %button{ type: 'button', class: 'btn btn-default' }
        = t('admin.districts.city_select')
      %button{ type: 'button', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' },
                                                          aria: { haspopup: true, expanded: false } }
        %span.caret
        %span.sr-only Toggle Dropdown
      %ul.dropdown-menu
        - all_cities.each do |city|
          %li
            = link_to city.name, '#', data: { param: "city_id=#{city.id}" }, class: 'js-select-parent'
    %hr
    %table.table.table-bordered
      %thead
        %tr
          %th.col-xs-1
            .text-center.title-id
              Id
            .pull-right.link-up
              = sortable_link('id', 'asc')
            .pull-right.link-down
              = sortable_link('id', 'desc')
          %th.col-sm-3
            .text-center.action
              = t('activerecord.models.city.one')
          %th.col-sm-3
            .pull-left.title
              = District.human_attribute_name(:code)
            .pull-right.link-up
              = sortable_link('code', 'asc')
            .pull-right.link-down
              = sortable_link('code', 'desc')
          %th.col-sm-2
            .text-center.action
              = District.human_attribute_name(:name)
          - if can? [:update, :delete], District
            %th.col-sm-3.col-xs-1
              .text-center.action
                = t('actions')
      %tbody
        - @districts.each do |district|
          %tr
            %th.text-right
              #{district.id}
            %td
              #{district.city.name}
            %td
              #{district.code}
            %td
              #{district.name}
            - if can? [:update, :delete], District
              %td.text-center.actions
                %button.btn.btn-warning.btn-xs.js-modal-form-btn{type: 'button', data:{ object: district.attributes,
                  url: admin_district_path(district), action: 'edit', title: t('admin.districts.change') }}
                  %span.glyphicon.glyphicon-pencil
                  = t('edit')
                = link_to admin_district_path(district), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger btn-xs' do
                  %span.glyphicon.glyphicon-trash
                  = t('delete')
.row
  - if (@districts.count > 0 && @districts.total_pages > 1)
    .col-sx-12.text-center
      = paginate @districts, theme: 'twitter-bootstrap-3'
- if can? :create || :update, District
  = render 'modal_form'
- if can? :create, District
  = render 'import_modal'
