.modal.fade{ role: 'dialog', id: 'region_modal' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal'}, aria: {label: 'Close' }}
          %span{ aria: { hidden: true} } &times;
        %h4.modal-title#myModalLabel
          = t('edit')
      = form_with scope: Region.new, url: admin_region_path(:id), method: 'patch', class: 'form-horizontal', local: true, id: 'update_region_form' do |f|
        .modal-body
          .form-group
            .col-sm-3.control-label
              = f.label :code, class: 'control-label'
            .col-sm-9
              = f.text_field :code, class: 'form-control', id: 'region_code', required: true
          .form-group
            .col-sm-3.control-label
              = f.label :name
            .col-sm-9
              = f.text_field :name, class: 'form-control', id: 'region_name', required: true
        .modal-footer
          = f.submit t('edit'), class: 'btn btn-success'
          %button.btn.btn-default{"data-dismiss": "modal", type: "button"}
            = t('cancel')