.row
  .page-header
    %h1
      = t('admin.regions.title')
  - if can? :create, Region
    .col-xs-12
      %button.btn.btn-primary.btn-lg.js-modal-form-btn{ type: 'button', data: { url: admin_regions_path,
                                                          action: 'new', title: t('admin.regions.new') } }
        %span.glyphicon.glyphicon-plus
        = t('create')
      %button.btn.btn-primary.btn-lg{ data: { toggle: 'modal', target: '#importModal' } }
        = t('shared.import_title')
%hr
.row
  .col-xs-12
    %table.table.table-bordered
      %thead
        %tr
          %th.col-xs-1
            .text-center.title-id
              Id
            .pull-right.up
              = sortable_link('id', 'asc')
            .pull-right.down
              = sortable_link('id', 'desc')
          %th.col-sm-3
            .pull-left.title
              = t('activerecord.attributes.region.code')
            .pull-right.up
              = sortable_link('code', 'asc')
            .pull-right.down
              = sortable_link('code', 'desc')
          %th.col-sm-3
            .text-center.action
              = t('activerecord.attributes.region.name')
          %th.col-sm-2
            .text-center.action
              = t('translations')
          - if can? [:update, :delete], Region
            %th.col-sm-3.col-xs-1
              .text-center.action
                = t('actions')
      %tbody
        - @regions.each do |region|
          %tr
            %th.text-right
              = region.id
            %td.text-center
              = region.code
            %td
              = region.name
            %td.text-center
              = render 'admin/partials/link_to_locales', object: region
            - if can? [:update, :delete], Region
              %td.text-center.actions
                %button.btn.btn-warning.btn-xs.js-modal-form-btn{ data: { object: region.attributes, url: admin_region_path(region.id),
                                                                  action: 'edit', title: t('admin.types.change') }}
                  %span.glyphicon.glyphicon-pencil
                  = t('edit')
                = link_to admin_region_path(region.id), method: :delete, data: { confirm: t('are_you_sure') },
                                                        class: 'btn btn-danger btn-xs' do
                  %span.glyphicon.glyphicon-trash
                  = t('delete')
.row
  - if (@regions.count > 0 && @regions.total_pages > 1)
    .col-sx-12.text-center
      = paginate @regions, theme: 'twitter-bootstrap-3'
- if can? :create || :update, Region
  = render 'modal_form'
- if can? :create, Region
  = render 'import_modal'
