.row
  .col-xs-12
    .page-header
      %h1
        = t('admin.regions.title')
    .row
      .col-md-6
        %h5
          = t('admin.regions.create_title')
        = form_with scope: Region.new, url: admin_regions_path, local: true, class: 'form-inline' do |f|
          .form-group
            = f.label :code, class: 'control-label'
            = f.text_field :code, class: 'form-control', required: true
          .form-group
            = f.label :name, class: 'control-label'
            = f.text_field :name, class: 'form-control', required: true
          .form-group
            = f.submit t('create'), class: 'btn btn-success'
      .col-md-6
        %h5
          = t('admin.regions.import_title')
        = form_with url: import_admin_regions_path, multipart: true, local: true, class: 'form-inline' do |f|
          .form-group
            = f.label :file, t('admin.file.title'), class: 'control-label'
            = f.file_field :file
          .form-group
            = link_to '?', admin_upload_instructions_path, data: { toggle: 'tooltip' }, title: t('admin.regions.file_tooltipe')
            = f.submit t('admin.file.import_button'), class: 'btn btn-primary'
    %hr
    .row
      .col-xs-12
        %table.table.table-bordered
          %thead
            %tr
              %th.col-xs-1.text-right Id
              %th.text-center
                = t('activerecord.attributes.region.code')
              %th.text-center
                = t('activerecord.attributes.region.name')
              %th.col-sm-3.col-xs-1.text-center
                = t('actions')
          %tbody
            - @regions.each do |region|
              %tr
                %th.text-right
                  #{region.id}
                %td.text-center
                  #{region.code}
                %td
                  #{region.name}
                %td.actions.text-center
                  %a.btn.btn-warning.btn-xs.update-btn{ data: { url: admin_region_path(region), code: region.code,
                                                    name: region.name, toggle: 'modal', target: '#region_modal'} }
                    %span.glyphicon.glyphicon-pencil
                    = t('edit')
                  = link_to admin_region_path(region.id), method: :delete, data: { confirm: t('are_you_sure') },
                                                          class: 'btn btn-danger btn-xs' do
                    %span.glyphicon.glyphicon-trash
                    = t('delete')
  .row
    - if (@regions.count > 0 && @regions.total_pages > 1)
      .col-sx-12.text-center
        = paginate @regions, theme: 'twitter-bootstrap-3'
= render 'update_region_form'
